.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.img3{
  content: url(./images/dice3.png);
}
.img4{
  content: url(./images/dice4.png);
}
.img5{
 content: url(./images/dice5.png);
}
.img6{
  content: url(./images/dice6.png);
}

.img1{
  content: url(./images/dice1.png);
}

.img2{
  content: url(./images/dice2.png);
}

#rollButton{
  position: relative;
  left: 45%;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #393E46;
  background-color: #4ECCA3;
  color: #232931;
  font-size: 1.5rem;
  font-family: 'Indie Flower', cursive;
}